<!doctype html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>パスワードの更新を完了するには、以下のリンクにアクセスしてください。</p>
    <p><%= @url %></p>
  </body>
</html>
