<!doctype html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>以下のリンクにアクセスすると、メールアドレスの更新が完了します。</p>
    <p><%= @url %></p>
  </body>
</html>
